.homeContainer {
  background-image: url("/background-12.png");
  background-size: cover;
}

.conceptImage {
  text-align: center;
  margin-bottom: 1.5rem;
}
.conceptImg {
  height: 360px;
}

.title {
  color: #635bff;
  margin: 0 0 1rem;
  font-size: 3.4rem;
  text-align: center;
}
.description {
  margin-bottom: 2rem;
  padding: 0 2.5rem;
}

.previewImage {
  margin: 0 auto 1.5rem;
  text-align: center;
  max-height: 370px;
  background: rgb(99 91 255 / 10%);
  border-radius: 5px;
  padding: 30px;
}
.previewImg {
  max-width: 320px; // 600px - padding
  max-height: 320px; // 600px - padding
  box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
  background-color: #ffffff;
}

.buttons__container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.fileButtonLabel,
.analysisButton {
  margin: 0;
  padding: 0 3.5rem;
  height: 2.8rem;
  line-height: 2.8rem;
  border-radius: 7px;
  background-color: #635bff;
  box-shadow: 0 4px 14px 0 rgb(99 91 255 / 39%);
  color: white;
  transition: 0.25s ease-in;

  &:hover {
    box-shadow: 0 6px 24px 0 rgb(99 91 255 / 55%);
  }
}

.analysisButton:disabled {
  background-color: #ccc;
  box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
  cursor: default;
}

.fileButton {
  display: none;
}
.fileButtonLabel {
  display: inline-block;
  margin-right: 1rem;
  padding: 0 3.5rem;
  height: 2.81rem;
  line-height: 2.8rem;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
  color: #635bff;
  cursor: pointer;
  transition: 0.25s ease-in;

  &:hover {
    box-shadow: 0 4px 14px 0 rgb(99 91 255 / 39%);
  }
}

.ocrResult {
  min-height: 200px;
}

.contentContainer {
  padding: 2rem 0 4.5rem;
  background: #f1f5f9;
  background-size: cover;
}

.content__title {
  color: #635bff;
  font-size: 2.5rem;
}

.graphs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  max-width: 800px;
}
.graph {
  background: #fff;
  padding: 1rem;
  border-radius: 13px;
  width: 350px;
  height: calc(350px / 1.414);
  margin: 1rem;

  box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
  transition: 0.25s ease-in;

  text-align: center;

  &:hover {
    box-shadow: 0 6px 24px 0 rgb(99 91 255 / 55%);
  }

  img {
    max-height: 100%;
  }
}
