.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.previewImage {
  margin: 0 auto;
  max-width: 600px;
  max-height: 600px;
  background: #fff;
  border-radius: 5px;
}
.previewImg {
}

.buttons__container {
  display: flex;
  justify-content: center;
}

.fileButtonLabel,
.analysisButton {
  margin: 0;
  padding: 0 3.5rem;
  height: 2.81rem;
  line-height: 2.8rem;
  border-radius: 7px;
  background-color: #0070f3;
  box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
  color: white;
}

.fileButton {
  display: none;
}
.fileButtonLabel {
  display: inline-block;
  margin-right: 1rem;
  padding: 0 3.5rem;
  height: 2.81rem;
  line-height: 2.8rem;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
  color: #696969;
  cursor: pointer;
}
