.conceptImage {
  text-align: center;
  margin-bottom: 1rem;
}
.conceptImg {
  height: 600px;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.previewImage {
  margin: 0 auto 1.5rem;
  text-align: center;
  max-height: 600px;
  background: rgb(99 91 255 / 39%);
  border-radius: 5px;
  padding: 30px;
}
.previewImg {
  max-width: 540px; // 600px - padding
  max-height: 540px; // 600px - padding
  box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
}

.buttons__container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.fileButtonLabel,
.analysisButton {
  margin: 0;
  padding: 0 3.5rem;
  height: 2.81rem;
  line-height: 2.8rem;
  border-radius: 7px;
  background-color: #635bff;
  box-shadow: 0 4px 14px 0 rgb(99 91 255 / 39%);
  color: white;
  transition: 0.25s ease-in;

  &:hover {
    box-shadow: 0 6px 24px 0 rgb(99 91 255 / 55%);
  }
}

.analysisButton:disabled {
  background-color: #ccc;
  box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
  cursor: default;
}

.fileButton {
  display: none;
}
.fileButtonLabel {
  display: inline-block;
  margin-right: 1rem;
  padding: 0 3.5rem;
  height: 2.81rem;
  line-height: 2.8rem;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
  color: #635bff;
  cursor: pointer;
  transition: 0.25s ease-in;

  &:hover {
    box-shadow: 0 4px 14px 0 rgb(99 91 255 / 39%);
  }
}
